@charset "UTF-8";
@import "/bootstrap/bootstrap.css";
* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
  color: #9BC715;
}

h4 {
  text-align: center;
  color: #9BC715;
}

.header {
  margin-bottom: 20px;
}

.header__up {
  background-color: #9BC715;
  color: white;
}

.header__item {
  margin: 5px auto;
}
.header__item ul {
  margin: 0;
  padding: 0;
}
.header__item button {
  margin-top: 5px;
  background-color: #fff;
}

.telephone {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 10pt;
}
.telephone:hover {
  color: #fff;
  text-decoration: none;
}

.header__bottom .btn {
  margin-left: 5px;
  color: #085507;
}

#navbarNav a {
  font-size: 11pt;
}

.dropdown-item {
  --bs-dropdown-link-hover-color: #000;
  --bs-dropdown-link-hover-bg: #c3e953;
}
.dropdown-item:hover {
  font-size: 19pt;
}

.main-text {
  margin-bottom: 35px;
}

.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 76%;
  padding-top: 36%;
  margin: auto;
  border-radius: 5px;
}

.fullscreen-bg__video {
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.overlay p {
  color: rgba(255, 255, 255, 0.8352941176);
  font-size: 18px;
  bottom: 25px;
  left: 25px;
  width: 50%;
  position: absolute;
}

.main-text {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.main-text li {
  list-style-type: none;
}
.main-text li:before {
  color: #9BC715;
  content: "●";
  padding-right: 10px;
}

.icons {
  margin-bottom: 35px;
}
.icons p {
  line-height: 1.3;
}
.icons .card {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 24rem;
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
}
.icons .card img {
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
}

.image {
  margin-bottom: 35px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 24rem;
  border-radius: 5px;
  position: relative;
}
.image .bottom-left {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  left: 15px;
  color: #fff;
}
.image img {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 1s;
}
.image img:hover {
  transform: scale(1.2);
}

form {
  padding: 30px;
  border: 1px solid #E1E1E1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.consultation {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}
.consultation img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.consultation .btn {
  color: #085507;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #085507;
}
.consultation .btn:hover {
  color: #fff;
  background-color: #9BC715;
  border-color: #085507;
}

.socialnet-item {
  position: relative;
  margin-bottom: 35px;
  width: 345px;
  height: 181px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #FFFFFF;
  border-radius: 55px;
  padding-left: 43px;
  padding-top: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.socialnet-item img {
  position: absolute;
  left: -25px;
  bottom: -35px;
}
.socialnet-item .btn {
  width: 190px;
  height: 44px;
  position: absolute;
  left: 120px;
  top: 111px;
  color: #fff;
  --bs-btn-border-color: #fff;
}
.socialnet-item .btn:hover {
  border-color: #085507;
  background-color: #9BC715;
}
.socialnet-item .btn-instagram {
  background: #D8479A;
}
.socialnet-item .btn-facebook {
  background: #4F71A7;
}
.socialnet-item .btn-telegram {
  background: #4AB5E2;
}

.separator {
  background-image: url("/img/separator.png");
  height: 53px;
  background-position: center;
  background-repeat: repeat-x;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}
.separator h3 {
  line-height: 53px;
}

.partners {
  margin-bottom: 35px;
}
.footer {
  font-size: 10pt;
}
.footer .footer-items {
  background-color: #4E4D4D;
  color: #fff;
}
.footer .footer-items h6 {
  color: #9BC715;
}
.footer .footer-items p {
  margin-bottom: 0px;
}
.footer .footer-items .footer-left {
  margin-bottom: 20px;
}
.footer .separator {
  margin-bottom: 0px;
}
.footer .separator h7 {
  line-height: 53px;
}