@charset "UTF-8";
@import "/bootstrap/bootstrap.css";
* {
  font-family: "Roboto", sans-serif;
}

.header__up {
  background-color: #9BC715;
  color: white;
}

.header__item {
  margin: 5px auto;
}
.header__item ul {
  margin: 0;
  padding: 0;
}
.header__item button {
  margin-top: 5px;
  background-color: #fff;
}

.telephone {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 10pt;
}
.telephone:hover {
  color: #fff;
  text-decoration: none;
}

.header__bottom .btn {
  margin-left: 5px;
  color: #085507;
}

#navbarNav a {
  font-size: 11pt;
}

.dropdown-item {
  --bs-dropdown-link-hover-color: #000;
  --bs-dropdown-link-hover-bg: #c3e953;
}
.dropdown-item:hover {
  font-size: 19pt;
}

.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 1000%;
  width: 100%;
  padding-top: 48%;
}

.fullscreen-bg__video {
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.overlay button {
  color: #fff;
  font-size: 18px;
  margin-top: 35%;
  margin-left: 10%;
}

.main-text {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.main-text li {
  list-style-type: none;
}
.main-text li:before {
  color: #9BC715;
  content: "●";
  padding-right: 10px;
}

.icons {
  margin-bottom: 15px;
}
.icons .card {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 24rem;
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
}
.icons .card img {
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
}

.image {
  margin-bottom: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 24rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
.image .bottom-left {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  left: 15px;
  color: #fff;
}
.image img {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 1s;
}
.image img:hover {
  transform: scale(1.2);
}